{% extends 'base/waa.html' %}
{% load static %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-6">
            <h3>Ваш токен активации:</h3>
            <p><textarea class="form-control" style="resize: none; width: 400px; height: 140px;">{{ jwt_token }}</textarea></p>
            <small>Вы уже можете использовать его в вызовах АПИ.<br/>
                Продолжительность действия токена 60 минут.<br/>
                Вы всегда можете получить новый токен с помощью метода АПИ "token/auth".
            </small>
        </div>

        <div  class="col-lg-6">
            <div class="card" style="width: 300px; height: 300px;">
                <img src="{% static "images/wa_qr_code.png" %}" id="qr-image" class="blur card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">QR - код</h5>
                    <p class="card-text">Нажмите кнопку получить QR и отсканируйте его с телефона.</p>
                     <p>У Вас будет 30 секунд, что отсканировать код, после этого будет показан результат привязки.</p>
                      <div class="d-flex justify-content-between">
                          <button id="button-get-qr" class='btn btn-primary'>Получить QR</button>
                          <div id="qr-countdown" style="width: 100px;"></div>
                      </div>
                  </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block ext_js %}

{% endblock %}