{% extends 'base/waa.html' %}

{% block main_content %}
        <h3>{% if section == 'signup' %}Регистрация{% else %}Авторизация{% endif %}.</h3>
    <form action="{{ form_action_url }}" method="post">
    <div class="form-group">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-success" type="submit" value="{% if section == 'signup' %}Зарегистрировать{% else %}Войти{% endif %}">
    </div>
    {% if section == 'signin' %}Ещё не зарегистрированы? <a href="{% url 'account:user_auth' section='signup' %}">Зарегистрируйтесь!</a> {% endif %}
    </form>
{% endblock %}

