{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>WAA</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/waa.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{% url 'waa:home' %}">WAA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link">Документация</a>
    </li>
  </ul>

  <div class="dropdown ml-auto">
      {% if not user.is_authenticated %}
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Авторизация
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <button class="dropdown-item" type="button"><a href="{% url 'account:user_auth' section='signin' %}">Вход</a></button>
      <button class="dropdown-item" type="button"><a href="{% url 'account:user_auth' section='signup' %}">Регистрация</a></button>
  </div>
    {% else %}
          <a style="color: #fff;" href="{% url 'account:user_auth' section='signout' %}">Выход!</a>
   {% endif %}
</div>


  </div>
</nav>

<main role="main" class="container-fluid">

    {% block main_content %}
    {% endblock %}

</main><!-- /.container -->


<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
{% block ext_js %}
{% endblock %}
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jq/jsCookie/js.cookie.js" %}"></script>
<script src="{% static "js/jq/utils.js" %}"></script>
<script src="{% static "js/jq/trigger.js" %}"></script>

  </body>
</html>
