
body {
  padding-top: 5rem;
}


.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.bg-success {
    background-color: #18BC9C !important;
}
.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-size: 0.625rem 0.625rem;
}

.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #2C3E50;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0.625rem;
    overflow: hidden;
    font-size: 0.625rem;
    background-color: #ecf0f1;
    border-radius: 0.25rem;
}